<ion-header>
  <ion-toolbar>
    <ion-title>Notifications</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    @for(notif of notifications; track notif.icon) {
      <app-notification-item [icon]="notif.icon" [message]="notif.message"></app-notification-item>
    }@empty {
      <ion-card color="light">
        <ion-card-header>
          <ion-card-title>Aucune notification</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Vous n'avez pas de nouvelles notifications pour le moment.
        </ion-card-content>
      </ion-card>
    }
  </ion-list>
</ion-content>
