<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-avatar slot="start"><ion-icon name="person-circle"></ion-icon></ion-avatar>
      <ion-label>
        <h2>{{ user.username }}</h2>
        <p>{{ user.email }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list class="bg-white rounded-xl shadow">
    <ion-list-header class="font-bold text-brand">Mes réservations</ion-list-header>
    @for(res of reservations; track res.id) {
    <app-voucher-item class="hover:bg-gray-50 transition" [reservation]="res"></app-voucher-item>
    }@empty {
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Aucune réservation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Vous n'avez pas encore effectué de réservations.
      </ion-card-content>
    </ion-card>
    }
  </ion-list>
</ion-content>