<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <ion-list-header>
      <ion-label>Mes informations</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-input label="Nom d'utilisateur" formControlName="username" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email" formControlName="email" type="email"></ion-input>
    </ion-item>


    <ion-button expand="block" type="submit" [disabled]="profileForm.invalid">Enregistrer</ion-button>
  </form>
</ion-content>