<div class="bg-white rounded-xl shadow overflow-hidden">
  <swiper-container [slidesPerView]="1.5" [spaceBetween]="10" freeMode="true" class="h-28"
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff;"
    [breakpoints]="{ '640': { 'slidesPerView': 2.5 }, '768': { 'slidesPerView': 3.5 }, '1024': { 'slidesPerView': 4.5 } }"
    [pagination]="{ clickable: true }">
    @for(image of destination.images; track image) {
    <swiper-slide>
      <img [src]="image" class="h-28 w-full object-cover" />
    </swiper-slide>
    }
  </swiper-container>
  <div class="p-2">
    <h3 class="text-sm font-semibold">{{ destination.name }}</h3>
    <p class="text-xs text-gray-500 line-clamp-2">{{ destination.description }}</p>
  </div>
</div>
