<ion-card class="destination-card">
  <swiper-container [slidesPerView]="1.5" [spaceBetween]="10" [freeMode]="true" [pagination]="{ clickable: true }"
    [breakpoints]="{
      '640': { 'slidesPerView': 2.5 },
      '768': { 'slidesPerView': 3.5 },
      '1024': { 'slidesPerView': 4.5 }
    }" class="destination-swiper">
    <swiper-slide *ngFor="let image of destination.images">
      <img [src]="image" alt="Image" class="destination-image" />
    </swiper-slide>
  </swiper-container>

  <ion-card-content>
    <h3 class="destination-title">{{ destination.name }}</h3>
    <p class="destination-description">{{ destination.description }}</p>
  </ion-card-content>
</ion-card>
