<!-- filters-modal.component.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Filtres avancés</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submit()">Appliquer</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Tri par prix</ion-label>
    <ion-select [(ngModel)]="filters.priceOrder">
      <ion-select-option value="asc">Croissant</ion-select-option>
      <ion-select-option value="desc">Décroissant</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Destinations</ion-label>
    <div>
      <ion-chip *ngFor="let dest of selectedDestinations">
        {{ dest }}
        <ion-icon name="close-circle" (click)="removeDestination(dest)"></ion-icon>
      </ion-chip>
    </div>
    <ion-input [(ngModel)]="destinationInput" (ionInput)="filterDestinations()"
      placeholder="Ajouter une destination"></ion-input>
    <ion-list *ngIf="filteredDestinations.length">
      <ion-item button *ngFor="let suggestion of filteredDestinations" (click)="selectDestination(suggestion)">
        {{ suggestion }}
      </ion-item>
    </ion-list>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Catégories</ion-label>
    <div>
      <ion-chip *ngFor="let cat of selectedCategories">
        {{ cat }}
        <ion-icon name="close-circle" (click)="removeCategory(cat)"></ion-icon>
      </ion-chip>
    </div>
    <ion-input [(ngModel)]="categoryInput" (ionInput)="filterCategories()"
      placeholder="Ajouter une catégorie"></ion-input>
    <ion-list *ngIf="filteredCategories.length">
      <ion-item button *ngFor="let suggestion of filteredCategories" (click)="selectCategory(suggestion)">
        {{ suggestion }}
      </ion-item>
    </ion-list>
  </ion-item>


  <ion-item>
    <ion-label>Date de début</ion-label>
    <ion-datetime [(ngModel)]="filters.dateRange.start"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Date de fin</ion-label>
    <ion-datetime [(ngModel)]="filters.dateRange.end"></ion-datetime>
  </ion-item>
</ion-content>