<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cart"></ion-back-button>
    </ion-buttons>
    <ion-title>Réservation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Récapitulatif de votre commande</ion-label>
  </ion-list-header>
  <ion-list>
    <ion-item *ngFor="let item of cartItems">
      <ion-label>
        <h2>{{ item.package.name }}</h2>
        <p>{{ item.travelers }} voyageur(s) - {{ item.package.price | currency:'EUR' }}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label slot="end">Total: {{ total | currency:'EUR' }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list-header>
    <ion-label>Vos informations</ion-label>
  </ion-list-header>
  <form [formGroup]="bookingForm" (ngSubmit)="confirmBooking()">
    <ion-item>
      <ion-input label="Prénom" formControlName="firstName" placeholder="Votre prénom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nom" formControlName="lastName" placeholder="Votre nom"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email" formControlName="email" type="email" placeholder="Votre email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Téléphone" formControlName="phone" type="tel" placeholder="Votre numéro de téléphone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-textarea label="Adresse" formControlName="address" placeholder="Votre adresse"></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="bookingForm.invalid">Confirmer et Payer</ion-button>
  </form>
</ion-content>
