<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rechercher</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterDestinations($event)" placeholder="Destination, budget..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Filtres</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-label position="stacked">Prix (EUR)</ion-label>
    <ion-range dualKnobs="true" min="0" max="10000" step="100" snaps="true" (ionChange)="onPriceChange($event)">
      <ion-label slot="start">{{ minPrice }}</ion-label>
      <ion-label slot="end">{{ maxPrice }}</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Durée (jours)</ion-label>
    <ion-range dualKnobs="true" min="0" max="30" step="1" snaps="true" (ionChange)="onDurationChange($event)">
      <ion-label slot="start">{{ minDuration }}</ion-label>
      <ion-label slot="end">{{ maxDuration }}</ion-label>
    </ion-range>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let dest of filteredDestinations" [routerLink]="['/offer-details', dest.id]">
      <ion-thumbnail slot="start">
        <img [src]="dest.imageUrl" [alt]="dest.name">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ dest.name }}</h2>
        <p>{{ dest.description }}</p>
        <p>Prix moyen: {{ dest.averagePrice | currency:'EUR' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
