<ion-header>
  <ion-toolbar>
    <ion-title>Recherche</ion-title>
  </ion-toolbar>
  <app-filter-bar (search)="onSearch($event)" (filter)="openFilters()"></app-filter-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="loading; else results">
    <ion-spinner name="crescent" class="search-spinner"></ion-spinner>
  </ng-container>

  <ng-template #results>

    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="6" size-lg="4" *ngFor="let offer of offers; trackBy: trackOffer">
          <app-offer-card-horizontal [offer]="offer"></app-offer-card-horizontal>
        </ion-col>

        <ion-col *ngIf="offers.length === 0">
          <ion-card color="light">
            <ion-card-header>
              <ion-card-title>Aucune offre trouvée</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Essayez une autre recherche ou filtre.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>