<ion-searchbar [(ngModel)]="searchTerm" (ionInput)="filterOffers()" placeholder="🔍 Rechercher une destination"
debounce="300" animated></ion-searchbar>

@if (selectedCategory) {
  <ion-chip color="primary" (click)="clearCategory()">
    {{ selectedCategory }}
    <ion-icon name="close-circle" (click)="clearCategory()" class="chip-icon"></ion-icon>
  </ion-chip>
}

<div scrollY="true" class="offer-scroll">
  <ion-grid>
    <ion-row>
      @for (offer of filteredOffers; track offer) {
        <ion-col size="12" size-md="6" size-lg="4">
          <ion-card class="offer-card" [routerLink]="['/offer', offer.id]">
            <img src="https://ionicframework.com/docs/img/demos/card-media.png" alt="Image de {{ offer.title }}" />
            <ion-card-header>
              <ion-card-title>{{ offer.title }}</ion-card-title>
              <ion-card-subtitle>
                {{ offer.price | currency:'EUR' }}
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>{{ offer.description }}</p>
              @for (cat of offer.destination.category; track cat) {
                <ion-chip color="tertiary"
                  (click)="filterByCategory(cat.name)">
                  {{ cat.verbose_name || cat.name }}
                </ion-chip>
              }
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>

  @if (filteredOffers.length === 0) {
    <ion-card color="light">
      <ion-card-header>
        <ion-card-title>Aucune offre trouvée</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Essayez une autre recherche ou filtre.
      </ion-card-content>
    </ion-card>
  }
</div>