<!-- src/app/home/home.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container #swiper class="mySwiper" [pagination]="{ clickable: true }" [loop]="true"
    [autoplay]="{ delay: 3500 }" [modules]="swiperModules" (swiperinit)="onInit($event)"
    (swiperslidechange)="onSlideChange($event)" style="height:320px;">
    <swiper-slide *ngFor="let dest of featuredDestinations">
      <div class="slide-inner">
        <img [src]="dest.image || 'assets/placeholder.jpg'" class="slide-img" />
        <div class="slide-text">
          <h2>{{ dest.name }}</h2>
          <p>{{ dest.description }}</p>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
  
</ion-content>
