<ion-card class="min-w-[200px] rounded-2xl shadow-md overflow-hidden">
  <swiper-container>
    @for(image of offer.destination.images; track image) {
      <swiper-slide>
        <img [src]="image" class="h-32 w-full object-cover" />
      </swiper-slide>
    }
  </swiper-container>
  <ion-card-header class="bg-white p-3">
    <ion-card-title class="text-base font-bold">{{ offer.title }}</ion-card-title>
    <ion-card-subtitle class="text-xs text-gray-500">
      {{ offer.destination.name }}
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content class="p-3">
    <p class="text-xs text-gray-600 line-clamp-2">{{ offer.description }}</p>
    <div class="mt-1 flex items-center justify-between">
      <span class="text-brand font-bold">{{ offer.price | currency:'MGA' }}</span>
      <ion-button color="primary" size="small" fill="solid">Réserver</ion-button>
    </div>
  </ion-card-content>
</ion-card>
