<ion-card class="offer-horizontal-card" (click)="goToDetail(offer.id)">
  <img [src]="offer.destination.images.length ? offer.destination.images[0] : 'assets/placeholder.jpg'"
    alt="{{ offer.title }}" class="offer-image" />

  <ion-card-content>
    <h3 class="offer-title">{{ offer.title }}</h3>
    <p class="offer-description">{{ offer.description }}</p>

    <div class="offer-footer">
      <span class="offer-price">{{ offer.price | currency:'MGA' }}</span>
      <ion-button size="small" fill="outline" color="primary" (click)="goToDetail(offer.id)">
        Voir +
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
