<ion-header>
  <ion-toolbar>
    <ion-title>Assistant intelligent</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (msg of messages; track msg) {
    <ion-item>
      <ion-label class="ion-text-wrap">{{ msg }}</ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <div class="ion-padding-start ion-padding-end">
    @for (question of suggestedQuestions; track question) {
    <ion-button expand="block" fill="outline" (click)="sendSuggestedQuestion(question)">
      {{ question }}
    </ion-button>
    }
  </div>
  <ion-toolbar>
    <ion-input [(ngModel)]="userInput" placeholder="Pose ta question..."></ion-input>
    <ion-button slot="end" (click)="sendMessage()">
      <ion-icon slot="icon-only" name="send-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
